


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/api/v1/conferenceoff/{{ conference.id }}">Перейти на конференцию когда </a> {{ conference.start_time }}
    {{ conference.theme }}
    {{ conference.discussion }}
    {{ conference.duration }}
    {{ conference.user.email }}
    {{ conference.typeconf.name }}
   

</body>
</html>
